@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #009034;
  --color-secondary:  #FF914D;

  --animate-face-edge: faceToEdge 0.2s ease-in-out 1 normal both;
  --animate-edge-face: edgeToFace 0.2s ease-in-out 1 normal both;

  @keyframes faceToEdge {
  0% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
  /* Légère poussée vers l'avant au début du mouvement */
  30% {
    transform: rotateY(20deg) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: rotateY(90deg) scale(0.9);
    opacity: 1; /* Préservé selon ta demande */
  }
}

@keyframes edgeToFace {
  0% {
    /* On arrive de la tranche avec un léger retrait */
    transform: rotateY(-90deg) scale(0.9);
    opacity: 0.8; /* Préservé selon ta demande */
  }
  /* Effet de rebond/amorti à l'arrivée */
  70% {
    transform: rotateY(10deg) scale(1.02);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
}
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Fredoka;
}
