@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #009034;
  --color-secondary:  #FF914D;
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Fredoka;
}
